<div class='col-lg-3 py-5'>
  <div class='row flex-column list-group'>
    <h4 class='bg-secondary text-white text-center list-group-item'>Trends</h4>
    <p class='list-group-item'>Trend 1</p>
    <p class='list-group-item'>Trend 2</p>
    <p class='list-group-item'>Trend 3</p>
    <p class='list-group-item'>Trend 4</p>
    <p class='list-group-item'>Trend 5</p>
    <p class='list-group-item'>Trend 6</p>
  </div>
</div>